@font-face {
  font-family: "iconfont"; /* Project id 3584302 */
  src: url('iconfont.eot?t=1715839143005'); /* IE9 */
  src: url('iconfont.eot?t=1715839143005#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1715839143005') format('woff2'),
       url('iconfont.woff?t=1715839143005') format('woff'),
       url('iconfont.ttf?t=1715839143005') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ios-log-in:before {
  content: "\e93f";
}

.icon-ios-log-out:before {
  content: "\e940";
}

.icon-ios-magnet:before {
  content: "\e941";
}

.icon-ios-mail-open:before {
  content: "\e942";
}

.icon-ios-mail:before {
  content: "\e943";
}

.icon-ios-mail-unread:before {
  content: "\e944";
}

.icon-ios-man:before {
  content: "\e945";
}

.icon-ios-male:before {
  content: "\e946";
}

.icon-ios-map:before {
  content: "\e947";
}

.icon-ios-medical:before {
  content: "\e948";
}

.icon-ios-medal:before {
  content: "\e949";
}

.icon-ios-medkit:before {
  content: "\e94a";
}

.icon-ios-megaphone:before {
  content: "\e94b";
}

.icon-ios-menu:before {
  content: "\e94c";
}

.icon-ios-mic-off:before {
  content: "\e94d";
}

.icon-ios-mic:before {
  content: "\e94e";
}

.icon-ios-moon:before {
  content: "\e94f";
}

.icon-ios-move:before {
  content: "\e950";
}

.icon-ios-more:before {
  content: "\e951";
}

.icon-ios-musical-note:before {
  content: "\e952";
}

.icon-ios-navigate:before {
  content: "\e953";
}

.icon-ios-musical-notes:before {
  content: "\e954";
}

.icon-ios-notifications:before {
  content: "\e955";
}

.icon-ios-notifications-off:before {
  content: "\e956";
}

.icon-ios-notifications-outline:before {
  content: "\e957";
}

.icon-ios-open:before {
  content: "\e958";
}

.icon-ios-nuclear:before {
  content: "\e959";
}

.icon-ios-nutrition:before {
  content: "\e95a";
}

.icon-ios-paper:before {
  content: "\e95b";
}

.icon-ios-outlet:before {
  content: "\e95c";
}

.icon-ios-options:before {
  content: "\e95d";
}

.icon-ios-paper-plane:before {
  content: "\e95e";
}

.icon-ios-pause:before {
  content: "\e95f";
}

.icon-ios-partly-sunny:before {
  content: "\e960";
}

.icon-ios-person:before {
  content: "\e961";
}

.icon-ios-people:before {
  content: "\e962";
}

.icon-ios-paw:before {
  content: "\e963";
}

.icon-ios-phone-landscape:before {
  content: "\e964";
}

.icon-ios-person-add:before {
  content: "\e965";
}

.icon-ios-phone-portrait:before {
  content: "\e966";
}

.icon-ios-pie:before {
  content: "\e967";
}

.icon-ios-pint:before {
  content: "\e968";
}

.icon-ios-photos:before {
  content: "\e969";
}

.icon-ios-play:before {
  content: "\e96a";
}

.icon-ios-play-circle:before {
  content: "\e96b";
}

.icon-ios-pin:before {
  content: "\e96c";
}

.icon-ios-podium:before {
  content: "\e96d";
}

.icon-ios-pizza:before {
  content: "\e96e";
}

.icon-ios-pricetag:before {
  content: "\e96f";
}

.icon-ios-power:before {
  content: "\e970";
}

.icon-ios-planet:before {
  content: "\e971";
}

.icon-ios-print:before {
  content: "\e972";
}

.icon-ios-pricetags:before {
  content: "\e973";
}

.icon-ios-pulse:before {
  content: "\e974";
}

.icon-ios-quote:before {
  content: "\e975";
}

.icon-ios-radio-button-off:before {
  content: "\e976";
}

.icon-ios-radio-button-on:before {
  content: "\e977";
}

.icon-ios-microphone:before {
  content: "\e978";
}

.icon-ios-radio:before {
  content: "\e979";
}

.icon-ios-recording:before {
  content: "\e97a";
}

.icon-ios-rainy:before {
  content: "\e97b";
}

.icon-ios-redo:before {
  content: "\e97c";
}

.icon-ios-refresh:before {
  content: "\e97d";
}

.icon-ios-qr-scanner:before {
  content: "\e97e";
}

.icon-ios-remove:before {
  content: "\e97f";
}

.icon-ios-remove-circle:before {
  content: "\e980";
}

.icon-ios-refresh-circle:before {
  content: "\e981";
}

.icon-ios-remove-circle-outline:before {
  content: "\e982";
}

.icon-ios-reorder:before {
  content: "\e983";
}

.icon-ios-repeat:before {
  content: "\e984";
}

.icon-ios-resize:before {
  content: "\e985";
}

.icon-ios-restaurant:before {
  content: "\e986";
}

.icon-ios-return-left:before {
  content: "\e987";
}

.icon-ios-return-right:before {
  content: "\e988";
}

.icon-ios-rewind:before {
  content: "\e989";
}

.icon-ios-reverse-camera:before {
  content: "\e98a";
}

.icon-ios-ribbon:before {
  content: "\e98b";
}

.icon-ios-rocket:before {
  content: "\e98c";
}

.icon-ios-add-circle:before {
  content: "\e88d";
}

.icon-ios-rose:before {
  content: "\e98d";
}

.icon-ios-airplane:before {
  content: "\e88e";
}

.icon-ios-sad:before {
  content: "\e98e";
}

.icon-ios-alarm:before {
  content: "\e88f";
}

.icon-ios-school:before {
  content: "\e98f";
}

.icon-ios-add-circle-outline:before {
  content: "\e890";
}

.icon-ios-search:before {
  content: "\e990";
}

.icon-ios-analytics:before {
  content: "\e891";
}

.icon-ios-save:before {
  content: "\e991";
}

.icon-ios-archive:before {
  content: "\e892";
}

.icon-ios-send:before {
  content: "\e992";
}

.icon-ios-arrow-back:before {
  content: "\e893";
}

.icon-ios-skip-backward:before {
  content: "\e993";
}

.icon-ios-albums:before {
  content: "\e894";
}

.icon-ios-share:before {
  content: "\e994";
}

.icon-ios-arrow-down:before {
  content: "\e895";
}

.icon-ios-speedometer:before {
  content: "\e995";
}

.icon-ios-add:before {
  content: "\e896";
}

.icon-ios-square-outline:before {
  content: "\e996";
}

.icon-ios-alert:before {
  content: "\e897";
}

.icon-ios-share-alt:before {
  content: "\e997";
}

.icon-ios-aperture:before {
  content: "\e898";
}

.icon-ios-shuffle:before {
  content: "\e998";
}

.icon-ios-arrow-dropdown-circle:before {
  content: "\e899";
}

.icon-ios-shirt:before {
  content: "\e999";
}

.icon-ios-american-football:before {
  content: "\e89a";
}

.icon-ios-square:before {
  content: "\e99a";
}

.icon-ios-arrow-dropleft:before {
  content: "\e89b";
}

.icon-ios-stats:before {
  content: "\e99b";
}

.icon-ios-apps:before {
  content: "\e89c";
}

.icon-ios-star:before {
  content: "\e99c";
}

.icon-ios-arrow-dropright-circle:before {
  content: "\e89d";
}

.icon-ios-subway:before {
  content: "\e99d";
}

.icon-ios-arrow-dropleft-circle:before {
  content: "\e89e";
}

.icon-ios-settings:before {
  content: "\e99e";
}

.icon-ios-arrow-dropdown:before {
  content: "\e89f";
}

.icon-ios-switch:before {
  content: "\e99f";
}

.icon-ios-appstore:before {
  content: "\e8a0";
}

.icon-ios-star-outline:before {
  content: "\e9a0";
}

.icon-ios-arrow-dropright:before {
  content: "\e8a1";
}

.icon-ios-snow:before {
  content: "\e9a1";
}

.icon-ios-arrow-forward:before {
  content: "\e8a2";
}

.icon-ios-tablet-portrait:before {
  content: "\e9a2";
}

.icon-ios-arrow-dropup-circle:before {
  content: "\e8a3";
}

.icon-ios-text:before {
  content: "\e9a3";
}

.icon-ios-arrow-dropup:before {
  content: "\e8a4";
}

.icon-ios-thumbs-down:before {
  content: "\e9a4";
}

.icon-ios-arrow-round-up:before {
  content: "\e8a5";
}

.icon-ios-sync:before {
  content: "\e9a5";
}

.icon-ios-arrow-round-forward:before {
  content: "\e8a6";
}

.icon-ios-thunderstorm:before {
  content: "\e9a6";
}

.icon-ios-arrow-round-back:before {
  content: "\e8a7";
}

.icon-ios-sunny:before {
  content: "\e9a7";
}

.icon-ios-at:before {
  content: "\e8a8";
}

.icon-ios-star-half:before {
  content: "\e9a8";
}

.icon-ios-arrow-up:before {
  content: "\e8a9";
}

.icon-ios-today:before {
  content: "\e9a9";
}

.icon-ios-backspace:before {
  content: "\e8aa";
}

.icon-ios-tennisball:before {
  content: "\e9aa";
}

.icon-ios-attach:before {
  content: "\e8ab";
}

.icon-ios-tablet-landscape:before {
  content: "\e9ab";
}

.icon-ios-arrow-round-down:before {
  content: "\e8ac";
}

.icon-ios-thumbs-up:before {
  content: "\e9ac";
}

.icon-ios-basket:before {
  content: "\e8ad";
}

.icon-ios-transgender:before {
  content: "\e9ad";
}

.icon-ios-barcode:before {
  content: "\e8ae";
}

.icon-ios-swap:before {
  content: "\e9ae";
}

.icon-ios-battery-full:before {
  content: "\e8af";
}

.icon-ios-train:before {
  content: "\e9af";
}

.icon-ios-battery-charging:before {
  content: "\e8b0";
}

.icon-ios-trending-down:before {
  content: "\e9b0";
}

.icon-ios-battery-dead:before {
  content: "\e8b1";
}

.icon-ios-time:before {
  content: "\e9b1";
}

.icon-ios-basketball:before {
  content: "\e8b2";
}

.icon-ios-trending-up:before {
  content: "\e9b2";
}

.icon-ios-bed:before {
  content: "\e8b3";
}

.icon-ios-trash:before {
  content: "\e9b3";
}

.icon-ios-beaker:before {
  content: "\e8b4";
}

.icon-ios-trophy:before {
  content: "\e9b4";
}

.icon-ios-baseball:before {
  content: "\e8b5";
}

.icon-ios-thermometer:before {
  content: "\e9b5";
}

.icon-ios-bluetooth:before {
  content: "\e8b6";
}

.icon-ios-timer:before {
  content: "\e9b6";
}

.icon-ios-boat:before {
  content: "\e8b7";
}

.icon-ios-tv:before {
  content: "\e9b7";
}

.icon-ios-beer:before {
  content: "\e8b8";
}

.icon-ios-stopwatch:before {
  content: "\e9b8";
}

.icon-ios-bicycle:before {
  content: "\e8b9";
}

.icon-ios-undo:before {
  content: "\e9b9";
}

.icon-ios-bonfire:before {
  content: "\e8ba";
}

.icon-ios-unlock:before {
  content: "\e9ba";
}

.icon-ios-book:before {
  content: "\e8bb";
}

.icon-ios-videocam:before {
  content: "\e9bb";
}

.icon-ios-bookmark:before {
  content: "\e8bc";
}

.icon-ios-umbrella:before {
  content: "\e9bc";
}

.icon-ios-body:before {
  content: "\e8bd";
}

.icon-ios-volume-high:before {
  content: "\e9bd";
}

.icon-ios-bookmarks:before {
  content: "\e8be";
}

.icon-ios-volume-mute:before {
  content: "\e9be";
}

.icon-ios-bowtie:before {
  content: "\e8bf";
}

.icon-ios-volume-low:before {
  content: "\e9bf";
}

.icon-ios-briefcase:before {
  content: "\e8c0";
}

.icon-ios-volume-off:before {
  content: "\e9c0";
}

.icon-ios-browsers:before {
  content: "\e8c1";
}

.icon-ios-wallet:before {
  content: "\e9c1";
}

.icon-ios-brush:before {
  content: "\e8c2";
}

.icon-ios-warning:before {
  content: "\e9c2";
}

.icon-ios-build:before {
  content: "\e8c3";
}

.icon-ios-walk:before {
  content: "\e9c3";
}

.icon-ios-bulb:before {
  content: "\e8c4";
}

.icon-ios-water:before {
  content: "\e9c4";
}

.icon-ios-cafe:before {
  content: "\e8c5";
}

.icon-ios-wifi:before {
  content: "\e9c5";
}

.icon-ios-bug:before {
  content: "\e8c6";
}

.icon-ios-skip-forward:before {
  content: "\e9c6";
}

.icon-ios-call:before {
  content: "\e8c7";
}

.icon-ios-watch:before {
  content: "\e9c7";
}

.icon-ios-bus:before {
  content: "\e8c8";
}

.icon-ios-woman:before {
  content: "\e9c8";
}

.icon-ios-business:before {
  content: "\e8c9";
}

.icon-ios-wine:before {
  content: "\e9c9";
}

.icon-ios-card:before {
  content: "\e8ca";
}

.icon-ios-calendar:before {
  content: "\e8cb";
}

.icon-ios-calculator:before {
  content: "\e8cc";
}

.icon-ios-cash:before {
  content: "\e8cd";
}

.icon-ios-car:before {
  content: "\e8ce";
}

.icon-ios-chatboxes:before {
  content: "\e8cf";
}

.icon-ios-chatbubbles:before {
  content: "\e8d0";
}

.icon-ios-cellular:before {
  content: "\e8d1";
}

.icon-ios-checkbox-outline:before {
  content: "\e8d2";
}

.icon-ios-checkbox:before {
  content: "\e8d3";
}

.icon-ios-cart:before {
  content: "\e8d4";
}

.icon-ios-checkmark:before {
  content: "\e8d5";
}

.icon-ios-checkmark-circle:before {
  content: "\e8d6";
}

.icon-ios-camera:before {
  content: "\e8d7";
}

.icon-ios-clipboard:before {
  content: "\e8d8";
}

.icon-ios-close-circle-outline:before {
  content: "\e8d9";
}

.icon-ios-close-circle:before {
  content: "\e8da";
}

.icon-ios-clock:before {
  content: "\e8db";
}

.icon-ios-cloud-circle:before {
  content: "\e8dc";
}

.icon-ios-close:before {
  content: "\e8dd";
}

.icon-ios-cloud:before {
  content: "\e8de";
}

.icon-ios-cloud-done:before {
  content: "\e8df";
}

.icon-ios-checkmark-circle-outline:before {
  content: "\e8e0";
}

.icon-ios-cloud-download:before {
  content: "\e8e1";
}

.icon-ios-cloud-outline:before {
  content: "\e8e2";
}

.icon-ios-cloud-upload:before {
  content: "\e8e3";
}

.icon-ios-cloudy:before {
  content: "\e8e4";
}

.icon-ios-cloudy-night:before {
  content: "\e8e5";
}

.icon-ios-code:before {
  content: "\e8e6";
}

.icon-ios-code-working:before {
  content: "\e8e7";
}

.icon-ios-color-fill:before {
  content: "\e8e8";
}

.icon-ios-code-download:before {
  content: "\e8e9";
}

.icon-ios-cog:before {
  content: "\e8ea";
}

.icon-ios-compass:before {
  content: "\e8eb";
}

.icon-ios-color-palette:before {
  content: "\e8ec";
}

.icon-ios-color-filter:before {
  content: "\e8ed";
}

.icon-ios-color-wand:before {
  content: "\e8ee";
}

.icon-ios-construct:before {
  content: "\e8ef";
}

.icon-ios-contact:before {
  content: "\e8f0";
}

.icon-ios-contrast:before {
  content: "\e8f1";
}

.icon-ios-contacts:before {
  content: "\e8f2";
}

.icon-ios-contract:before {
  content: "\e8f3";
}

.icon-ios-copy:before {
  content: "\e8f4";
}

.icon-ios-create:before {
  content: "\e8f5";
}

.icon-ios-cube:before {
  content: "\e8f6";
}

.icon-ios-crop:before {
  content: "\e8f7";
}

.icon-ios-cut:before {
  content: "\e8f8";
}

.icon-ios-disc:before {
  content: "\e8f9";
}

.icon-ios-desktop:before {
  content: "\e8fa";
}

.icon-ios-document:before {
  content: "\e8fb";
}

.icon-ios-download:before {
  content: "\e8fc";
}

.icon-ios-done-all:before {
  content: "\e8fd";
}

.icon-ios-easel:before {
  content: "\e8fe";
}

.icon-ios-egg:before {
  content: "\e8ff";
}

.icon-ios-exit:before {
  content: "\e900";
}

.icon-ios-expand:before {
  content: "\e901";
}

.icon-ios-eye-off:before {
  content: "\e902";
}

.icon-ios-fastforward:before {
  content: "\e903";
}

.icon-ios-eye:before {
  content: "\e904";
}

.icon-ios-female:before {
  content: "\e905";
}

.icon-ios-filing:before {
  content: "\e906";
}

.icon-ios-film:before {
  content: "\e907";
}

.icon-ios-fitness:before {
  content: "\e908";
}

.icon-ios-flame:before {
  content: "\e909";
}

.icon-ios-flag:before {
  content: "\e90a";
}

.icon-ios-flash:before {
  content: "\e90b";
}

.icon-ios-flashlight:before {
  content: "\e90c";
}

.icon-ios-flash-off:before {
  content: "\e90d";
}

.icon-ios-finger-print:before {
  content: "\e90e";
}

.icon-ios-flower:before {
  content: "\e90f";
}

.icon-ios-folder:before {
  content: "\e910";
}

.icon-ios-funnel:before {
  content: "\e911";
}

.icon-ios-football:before {
  content: "\e912";
}

.icon-ios-flask:before {
  content: "\e913";
}

.icon-ios-gift:before {
  content: "\e914";
}

.icon-ios-git-branch:before {
  content: "\e915";
}

.icon-ios-git-commit:before {
  content: "\e916";
}

.icon-ios-folder-open:before {
  content: "\e917";
}

.icon-ios-git-compare:before {
  content: "\e918";
}

.icon-ios-git-merge:before {
  content: "\e919";
}

.icon-ios-glasses:before {
  content: "\e91a";
}

.icon-ios-git-network:before {
  content: "\e91b";
}

.icon-ios-hammer:before {
  content: "\e91c";
}

.icon-ios-grid:before {
  content: "\e91d";
}

.icon-ios-hand:before {
  content: "\e91e";
}

.icon-ios-git-pull-request:before {
  content: "\e91f";
}

.icon-ios-globe:before {
  content: "\e920";
}

.icon-ios-headset:before {
  content: "\e921";
}

.icon-ios-happy:before {
  content: "\e922";
}

.icon-ios-heart:before {
  content: "\e923";
}

.icon-ios-heart-dislike:before {
  content: "\e924";
}

.icon-ios-help:before {
  content: "\e925";
}

.icon-ios-heart-empty:before {
  content: "\e926";
}

.icon-ios-heart-half:before {
  content: "\e927";
}

.icon-ios-help-buoy:before {
  content: "\e928";
}

.icon-ios-help-circle:before {
  content: "\e929";
}

.icon-ios-home:before {
  content: "\e92a";
}

.icon-ios-help-circle-outline:before {
  content: "\e92b";
}

.icon-ios-hourglass:before {
  content: "\e92c";
}

.icon-ios-ice-cream:before {
  content: "\e92d";
}

.icon-ios-infinite:before {
  content: "\e92e";
}

.icon-ios-information:before {
  content: "\e92f";
}

.icon-ios-images:before {
  content: "\e930";
}

.icon-ios-information-circle:before {
  content: "\e931";
}

.icon-ios-information-circle-outline:before {
  content: "\e932";
}

.icon-ios-image:before {
  content: "\e933";
}

.icon-ios-jet:before {
  content: "\e934";
}

.icon-ios-key:before {
  content: "\e935";
}

.icon-ios-journal:before {
  content: "\e936";
}

.icon-ios-keypad:before {
  content: "\e937";
}

.icon-ios-laptop:before {
  content: "\e938";
}

.icon-ios-leaf:before {
  content: "\e939";
}

.icon-ios-list-box:before {
  content: "\e93a";
}

.icon-ios-list:before {
  content: "\e93b";
}

.icon-ios-locate:before {
  content: "\e93c";
}

.icon-ios-link:before {
  content: "\e93d";
}

.icon-ios-lock:before {
  content: "\e93e";
}

